<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <style>
      /* Define your email styles here */
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #001f3f; /* Navy Blue */
      }
      p {
        color: #333; /* Dark Grey */
        margin-bottom: 15px;
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #001f3f; /* Navy Blue */
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
      }
      .form-container {
        margin-top: 20px;
      }
      .form-container label {
        display: block;
        margin-bottom: 10px;
        color: #333; /* Dark Grey */
      }
      .form-container input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Password Reset</h1>
      <p>
        You have requested for a password reset. Please click on the link to proceed with your request 
      </p>
      <a href="<%= resetURL %>" class="button">Reset password</a>
    </div>
  </body>
</html>
